html,body,dl, ol, ul,dd{
  margin: 0;padding: 0;font-family: PingFangSC-Regular, "Helvetica Neue", "Microsoft YaHei", 黑体, Arial, sans-serif;
}
a {
  color: #666;
  text-decoration:none;
}
a:hover{
  text-decoration: none;
  color: #1A5DAD;
}
.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
	margin: 0;
  padding: 0;
	font-family: inherit;
	font-weight: 500;
	color: inherit
}

.h1,h1 {
	font-size: 28px;
  color: #333333;
  line-height: 42px;
}

.h2,h2 {
	font-size: 24px;
}

.h3,h3 {
  font-size: 20px;
  margin: 0;
}

.h4,h4 {
	font-size: 18px
}

.h5,h5 {
	font-size: 16px
}

.h6,h6 {
	font-size: 14px
}
p {
  margin-top: 0;
  margin-bottom: 0;
}
body {
    background-color: #fff;
}
li{
    list-style: none;
}